* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  width: 100%;
}

.main-container { 
  min-height: calc(100vh - 120px);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #2563eb;
}

.nav-links button {
  margin-left: 10px;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  ;
}

.login-btn {
  background: transparent;
  border: 1px solid #2563eb;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.register-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}


/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: #111827;
  color: white;
}